*{
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #EDF1D6;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    position: fixed;
}
nav .navigasi{
    width: 30%;
}
nav .navigasi a{
    margin-right: 10px;
    cursor: pointer;
    color: white;
    direction: none;
    text-decoration: none;
    font-weight: bold;
}
nav .navigasi a:hover{
    color: red;
}

header{
    padding-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.bgProfile{
    position: absolute;
    height: 250px;
    width: 100%;
    z-index: -99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#photo{
    height: 200px;
    width: auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
header h1{
    margin-top: 30px;
}

#contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    animation: slide;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    width: 300px;
    height: auto;
}
.about p{
    width: 100%;
}
header p{
    margin-top: 30px;
    width: 30%;
    text-align: center;
}
.sosialMedia{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    width: 20%;
}
.content{
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.image img{
    width: 300px;
    height: 300px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image img:hover{
    box-shadow: rgba(255, 114, 114, 0.35) 0px 5px 15px;

}
.tInsta{
    margin-top: 100px;
}
.insta{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.insta .keterangan{
    display: flex;
    font-size:x-large;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.insta img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;

}
.insta button{
    margin-top: 50px;
    padding: 10px;
    background: red;
    border: 0px solid red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.insta button:hover{
    background:green;

}
.insta .keterangan button a{
    font-size: x-large;
    color:white;
    text-decoration: none;
}

footer{
    background-color: black;
    height: 30px;
    color: white;
    text-align: center;
    padding: 5px;
}


