<!doctype html>
<html xmlns="http://www.thymeleaf.org">
<head>
<title>Spring Boot AJAX jQuery CRUD</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- jQuery Modal -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<link th:href="@{/css/style.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/javascript/script.js}"></script>
</head>
<body>

	<h2>Spring Boot AJAX jQuery CRUD</h2>

	<p>
		<a class='btn' href="#add" rel="modal:open">Add New Company</a>
	</p>

	<table border="1" cellspacing="0" cellpadding="5">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</table>

	<form id="add" action="#" class="add_form modal" style="display: none;">
		<div id='msg' />
		<h3>Add a New Company</h3>
		<p>
			<label>Name</label> <input type="text" id="name" name="name">
		</p>
		<p>
			<input type="submit" id="addNew" value="Submit">
		</p>
	</form>

</body>
</html>